canvas {
	display: block;
	/*position: absolute;*/
	background: rgba(225,225,225,.8);
	border: 2px solid white;
	border-radius: 10px;
}
#board {
	/*position: absolute;*/
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* Smaller devices (iPhone, less than 768px) */
@media (max-width: 900px) {
	canvas:not(#board) { left: 3%; right: auto; }
	#board { right: 3%; left: auto; }
	#timer { top: 67px; }
	#score { top: 190px; }
	#level { top: 312px; }
	#high-score { top: 434px; }
	#next-shape { top: 557px; }
}
@media (min-width: 700px) and (max-width: 900px) {
	.container { width: 700px; }
}
